In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB   # Naive based Gaussian model
import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:
dataframe = pd.read_csv('titanic.csv')
dataframe.head(50)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.0500
5,0,3,Mr. James Moran,1,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,1,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,1,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,0,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,0,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,0,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,0,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,1,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,1,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,0,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,0,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,1,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,1,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,0,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,0,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,1,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,1,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,0,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,1,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,0,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,0,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,1,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,1,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,0,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,1,23.0,0,0,7.8958
30,0,1,Don. Manuel E Uruchurtu,1,40.0,0,0,27.7208
31,1,1,Mrs. William Augustus (Marie Eugenie) Spencer,0,48.0,1,0,146.5208
32,1,3,Miss. Mary Agatha Glynn,0,18.0,0,0,7.7500
33,0,2,Mr. Edward H Wheadon,1,66.0,0,0,10.5000
34,0,1,Mr. Edgar Joseph Meyer,1,28.0,1,0,82.1708
35,0,1,Mr. Alexander Oskar Holverson,1,42.0,1,0,52.0000
36,1,3,Mr. Hanna Mamee,1,18.0,0,0,7.2292
37,0,3,Mr. Ernest Charles Cann,1,21.0,0,0,8.0500
38,0,3,Miss. Augusta Maria Vander Planke,0,18.0,2,0,18.0000
39,1,3,Miss. Jamila Nicola-Yarred,0,14.0,1,0,11.2417
40,0,3,Mrs. Johan (Johanna Persdotter Larsson) Ahlin,0,40.0,1,0,9.4750
41,0,2,Mrs. William John Robert (Dorothy Ann Wonnacot...,0,27.0,1,0,21.0000
42,1,2,Miss. Simonne Marie Anne Andree Laroche,0,3.0,1,2,41.5792
43,1,3,Miss. Margaret Delia Devaney,0,19.0,0,0,7.8792
44,0,3,Mr. William John Rogers,1,30.0,0,0,8.0500
45,0,3,Mr. Denis Lennon,1,20.0,1,0,15.5000
46,1,3,Miss. Bridget O'Driscoll,0,27.0,0,0,7.7500
47,0,3,Mr. Youssef Samaan,1,16.0,2,0,21.6792
48,0,3,Mrs. Josef (Josefine Franchi) Arnold-Franchi,0,18.0,1,0,17.8000
49,0,3,Master. Juha Niilo Panula,1,7.0,4,1,39.6875

In [3]:
ages = dataframe['Age'].values
fares = dataframe['Fare'].values
survived = dataframe['Survived'].values

colors = []
for item in survived:
    if item == 0:
        colors.append('red')
    else:
        colors.append('green')
    
    
# plt.scatter(ages, fares, s=50, color = colors)
# plt.title('Survival of People on Titanic')
# plt.xlabel('Age')
# plt.ylabel('Fare')
# plt.show()

From the above GRaph we can say: 
- the kids(low age people) are able to survive more than the older people.
- As the Fare increasing, the Chances of Survival increases.

In [29]:
Features = dataframe.drop(['Survived','Name'], axis=1).values
# Features.head()

targets = dataframe['Survived'].values

In [31]:
Features_train, targets_train = Features[:710], targets[:710]

Features_test, targets_test = Features[710:], targets[710:]

In [39]:
model = GaussianNB()
model.fit(Features_train, targets_train)

targets_pred = model.predict(Features_test)

# for x in zip(targets_test, targets_pred):
#     print('Expected: {}, Predicted: {}'.format(x[0], x[1]))

accuracy = model.score(Features_test, targets_test)
print('Accuracy:', accuracy)

Accuracy: 0.8192090395480226